.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

/output_files/
/input_files/
/Gephi_plotting/
/results_analysis/
FCMapper_analysis.xlsm
testing_Biodiversity_Density.Rmd
testing_code.Rmd
testing_model_outputs.Rmd
testing_old_full_map_analysis.Rmd
testing_plotting.Rmd
testing_scenario_analysis.Rmd
testing_word_clouds.Rmd
testing_matrices_to_gephi.Rmd